<div class="container text-right">
        <a ui-sref="prikaz" ui-sref-active="active" class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Naruceno </a>
        <a ui-sref="home" ng-click="pc.clear()" ui-sref-active="active" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Odustani </a>
</div>

<div class="container; text-center">
    <table  class="table text-center">
        <tbody>
            <tr ng-repeat="pice in pc.pica">
                <td> <a class="btn btn-light btn-lg">{{pice.ime_pica}}</a> <br> <br>
                <!-- <div class="col-xs-2">
                    <button class="btn btn-primary btn-s"> <i class="fas fa-minus"></i> </button>
                    <input class="form-control" type="number">
                    <button class="btn btn-primary btn-s"> <i class="fas fa-plus"></i> </button>
                </div> -->
                <div class="input-group">
                    <span class="input-group-btn mr-3"><button ng-click="pc.minus(pice)" class="btn btn-default value-control" data-action="minus" data-min="1"  
                        data-target="{{pice.id_pica}}"> <i class="fas fa-minus"></i></button></span>

                    <input ng-model="pice.naruceno" type="number" class="form-control col-xs-2" id="{{pice.id_pica}}" />

                    <span class="input-group-btn ml-3"><button ng-click="pc.plus(pice)" class="btn btn-default value-control" data-action="plus" max="{{pice.kolicina}}" data-max="{{pice.kolicina}}" 
                        data-target="{{pice.id_pica}}"><i class="fas fa-plus"></i></button></span>

                    <!-- <a ui-sref-active="active" class="btn btn-primary ml-3 mr-3">Cena jednog proizvoda: {{pice.cena}} dinara</a> -->
                    <input ng-click="pc.dodaj(pice)" class="btn btn-primary" value="Dodaj na porudzbinu">
                </div>
                </td>                
            </tr>
        </tbody>
    </table>
    <a ui-sref="narucivanje" class="btn btn-primary btn-lg">Povratak na listu pica</a>
    </div>