<div class="container">
    <div class="text-right mb-1">
        <a ng-click="picac.logout()" class="btn btn-danger btn-sm"><i class="fas fa-sign-out-alt"></i>Logout</a>
    </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item" ui-sref-active="active"><a class="nav-link" ui-sref="pica({userName: picac.userName})">Pica</a></li>
                    <li class="nav-item" ui-sref-active="active"><a class="nav-link" ui-sref="korisnici({userName: picac.userName})">Korisnici</a></li>
                    
                </ul>
                
                
        </nav>
</div>

<div>
    <div>
    <h1>Lista pica</h1> 
    </div>
    <div class="d-inline-block">
    <a ng-click="dodavanjePica = !dodavanjePica" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i>
        Dodavanje novog pica</a>
    </div>
    <div class="d-inline-block">
        <a ng-click="dodavanjeKategorije = !dodavanjeKategorije" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i>
        Dodavanje nove kategorije pica</a>
    </div>
    <div class="d-inline-block">
            <a ng-click="picac.dobavljanje()"class="btn btn-primary btn-sm"><i class="fas fa-print"></i>
                Stampanje narudzbenice</a>
    </div>
    <div class="d-inline-block">
            <a ng-click="pretragaPica = !pretragaPica" class="btn btn-primary btn-sm"><i class="fas fa-search"></i>Pretraga proizvoda</a>
    </div>
    <div class="d-inline-block">
            <a ng-click="picac.clear()" class="btn btn-primary btn-sm"> <i class="fas fa-eraser"></i>Prikaz svih proizvoda</a>
    </div>
    
</div>

<br>

<div ng-show="dodavanjeKategorije">
    <div class="mb-3">
        <form ng-submit="picac.dodajKategoriju()"> 
            <div class="form-group">
                    <label for="ime_tipa">Ime nove kategorije pica: </label>
                    <input type="text" class="form-control" id="ime_tipa" placeholder="Ime novog tipa pica" ng-model="picac.novaKategorija.ime_tipa"
                        required>
            </div>
            <div class="text-right">
                    <input ng-click="dodavanjeKategorije = !dodavanjeKategorije" type="submit" class="btn btn-primary" value="Dodaj novu kategoriju pica">
            </div>
        </form>
    </div>
</div>

<div ng-show="pretragaPica" class="mb-3">
        <form class="font-weight-bold" ng-submit="picac.dobaviPica()">
            <div class="form-group">
                <label for="ime_pica_pretraga">Ime pica</label>
                <input type="text" class="form-control" id="ime_pica_pretraga" placeholder="Ime pica" ng-model="picac.parametriPretrage.ime_pica_pretraga">
            </div>
            <div class="form-group">
                <label for="kolicinaOd">Minimalna količina</label>
                <input type="number" class="form-control" id="kolicinaOd" placeholder="Minimalna količina" ng-model="picac.parametriPretrage.kolicinaOd">
            </div>
            <div class="form-group">
                <label for="kolicinaDo">Maksimalna količina</label>
                <input type="number" class="form-control" id="kolicinaDo" placeholder="Maksimalna količina" ng-model="picac.parametriPretrage.kolicinaDo">
            </div>
            <div class="form-group">
                    <label for="tip_pica_id_tipa_pica_pretraga">Tip pica</label>
                    <select class="form-control" ng-model="picac.parametriPretrage.tip_pica_id_tipa_pica_pretraga" name="tip_pica" id="tip_pica_id_tipa_pica_pretraga" >
                        <option ng-repeat="tip in picac.tip_pica" value="{{tip.id_tipa_pica}}">{{tip.ime_tipa}}</option>
                    </select>
            </div>
            <div class="text-right">
                <input type="submit" class="btn btn-primary" value="Pretraga">
            </div>
        </form>
    </div>

<div ng-show="dodavanjePica">
        <div class="mb-3">
                <form ng-submit="picac.dodajPice()">
                    <div class="form-group">
                        <label for="ime_pica">Ime pica</label>
                        <input type="text" class="form-control" id="ime_pica" placeholder="Ime pica" ng-model="picac.novoPice.ime_pica"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="opis_pica">Opis pica</label>
                        <input type="text" class="form-control" id="opis_pica" placeholder="Opis pica" ng-model="picac.novoPice.opis_pica">
                    </div>
                    <div class="form-group">
                        <label for="kolicina">Kolicina</label>
                        <input type="number" min="0" class="form-control" id="kolicina" placeholder="kolicina" ng-model="picac.novoPice.kolicina"
                            required>
                    </div>
                    <div class="form-group">
                            <label for="cena">Cena</label>
                            <input type="number" min="0" class="form-control" id="cena" placeholder="cena" ng-model="picac.novoPice.cena"
                                required>
                    </div>
                    <div class="form-group">
                            <label for="tip_pica">Tip pica</label>
                            <select class="form-control" ng-model="picac.novoPice.tip_pica_id_tipa_pica" name="tip_pica" id="tip_pica" required>
                                <option ng-repeat="tip in picac.tip_pica" value="{{tip.id_tipa_pica}}">{{tip.ime_tipa}}</option>
                            </select>
                        </div>
                    <div class="text-right">
                        <input type="submit" class="btn btn-primary" value="Dodaj novo pice">
                    </div>
                </form>
                </div>
</div>

<div>   
        <table class="table bg-light">
            <thead>
                <tr>
                    <th>R. br</th>
                    <th>Ime pica</th>
                    <th>Opis pica</th>
                    <th>Lager</th>
                    <th>Cena pica</th>
                    <th>Tip pica</th>
                    <th class="text-right">Akcija</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pice in picac.pica">
                    <td>{{$index+1}}.</td>
                    <td>{{pice.ime_pica}}</td>
                    <td>{{pice.opis_pica}}</td>
                    <td>{{pice.kolicina}}</td>
                    <td>{{pice.cena}}</td>
                    <td>{{pice.tip_pica_id_tipa_pica}}</td>
                    <td class="text-right">
                        <button ng-click="picac.ukloniPice(pice.id_pica)" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i>
                            Ukloni</button>
                        <a ui-sref="pice({id_pica: pice.id_pica, userName: picac.userName})" class="btn btn-primary btn-sm"><i class="far fa-eye"></i>
                            Detalji</a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
    
            </tfoot>
        </table>
    </div>