<div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item" ui-sref-active="active"><a class="nav-link" ui-sref="pica({userName: pc.userName})">Pica</a></li>
                    <li class="nav-item" ui-sref-active="active"><a class="nav-link" ui-sref="korisnici({userName: pc.userName})">Korisnici</a></li>
                </ul>
        </nav>
</div>

<div>
    <h1> Izmena pica </h1>
</div>
<div class="font-weight-bold">
        <form ng-submit="pc.izmeniPice()">
            <div class="form-group">
                <label for="ime_pica"> Ime pica </label>
                <input type="text" class="form-control" id="ime_pica" placeholder="Ime pica" ng-model="pc.pice.ime_pica">
            </div>
            <div class="form-group">
                <label for="opis_pica">Opis pica</label>
                <input type="text" class="form-control" id="opis_pica" placeholder="Opis pica" ng-model="pc.pice.opis_pica" >
            </div>
            <div class="form-group">
                <label for="kolicina">Kolicina</label>
                <input type="number" class="form-control" id="kolicina" placeholder="Kolicina" ng-model="pc.pice.kolicina"
                    required>
            </div>
            <div class="form-group">
                    <label for="cena">Cena</label>
                    <input type="number" class="form-control" id="cena" placeholder="Cena" ng-model="pc.pice.cena"
                        required>
            </div>
            <div class="form-group">
                    <label for="tip_pica">Tip pica</label>
                    <select class="form-control" ng-model="pc.tip_pica_id_tipa_pica" name="tip_pica" id="tip_pica">
                        <option ng-repeat="tip in pc.tipPica" value="{{tip.id_tipa_pica}}">{{tip.ime_tipa}}</option>
                    </select>
            </div>
            <div class="text-right">
                <input type="submit" class="btn btn-success btn pull-right" value="Izmeni">
            </div>
        </form>
        <hr>
        <a ui-sref="pica({userName: pc.userName})" ui-sref-active="active" class="btn btn-info">Nazad</a>
    </div>