<div class="container text-right">
        <a ui-sref="prikaz" ui-sref-active="active" class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Naruceno </a>
        <a ui-sref="home" ui-sref-active="active" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Odustani </a>
</div>

<div class="container text-center">
    <h2>Odaberite kategoriju pica </h2>
</div>
<div class="container">
<table class="table text-center">
    <tbody>
        <tr ng-repeat="tip_pica in nac.tip_pica">
            <td> <a ui-sref="porucivanje({id_tipa_pica: tip_pica.id_tipa_pica})" class="btn btn-primary btn-lg">{{tip_pica.ime_tipa}}</a></td>
        </tr>
    </tbody>
</table>
</div>