<div class="container text-right mb-3">
        <a ui-sref="home" ng-click="pc.naruci()" ui-sref-active="active" class="btn btn-success"><i class="fas fa-shopping-cart"></i> Potvrdi porudzbinu </a>
        <a ui-sref="home" ng-click="pc.clear()" ui-sref-active="active" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Odustani </a>
</div>

<div>
    <table class="table bg-light">
        <thead>
            <tr>
                <th>R. br</th>
                <th>Ime pica</th>
                <th>Narucena kolicina</th>
                <th>Pojedinacna cena</th>
                <th>Cena stavki</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pice in pc.porudzbinaPrikaz">
                <td>{{$index+1}}.</td>
                <td>{{pice.ime_pica}}</td>
                <td>{{pice.kolicina}}</td>
                <td>{{pice.cena}}</td>
                <td>{{pice.cenaUkupna}}</td>
            </tr>
        </tbody>
        <tfoot >
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Racun</td>
                <td>{{pc.ukupnaSuma}} dinara</td>
            </tr>
        </tfoot>
    </table>
</div>