<div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item" ui-sref-active="active"><a class="nav-link" ui-sref="pica({userName: kc.userName})">Pica</a></li>
                    <li class="nav-item" ui-sref-active="active"><a class="nav-link" ui-sref="korisnici({userName: kc.userName})">Korisnici</a></li>
                </ul>
        </nav>
</div>

<div>
        <form ng-submit="kc.izmeniKorisnika()">
            <div class="form-group">
                <label for="korisnicko_ime">Korisničko ime</label>
                <input type="text" class="form-control" id="korisnicko_ime" placeholder="Korisnicko ime" ng-model="kc.korisnik.korisnicko_ime"
                    readonly>
            </div>
            <div class="form-group">
                <label for="ime">Ime</label>
                <input type="text" class="form-control" id="ime" placeholder="Ime" ng-model="kc.korisnik.ime" required>
            </div>
            <div class="form-group">
                <label for="prezime">Prezime</label>
                <input type="text" class="form-control" id="prezime" placeholder="Prezime" ng-model="kc.korisnik.prezime"
                    required>
            </div>
            <div class="text-right">
                    <input type="submit" class="btn btn-success btn pull-right" value="Izmeni">
            </div>
        </form>
        <hr>
        <a ui-sref="korisnici({userName: kc.userName})" ui-sref-active="active" class="btn btn-info">Nazad</a>
    </div>