<!DOCTYPE html>
<html>
<head>
    <title>Narudzbenica</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Ime proizvoda</th>
                <th>Opis proizvoda</th>
                <th>Kolicina</th>
            </tr>
        </thead>
        <tbody>
            {#
                Petlja for ima istu sintaksu kao i for petlja u Python
                programskom jeziku. Sadrzaj unutar petlje bice izgenerisan
                onoliko puta koliko bude bilo iteracija for petlje.
                Petlja for se navodi kao iskaz odnosno izmedju {% %}.
            #}
            {% for pice in dobavljanje %}
            <tr>
                <td>{{pice["ime_pica"]}}</td>
                <td>{{pice["opis_pica"]}}</td>
                <td>100</td>
                {#
                    Promenljiva loop je dostupna samo u kontekstu for petlje.
                    Ova promenljiva skladisti podatke o trenutnoj iteraciji
                    petlje, npr. trenutni indeks u atributu index, da li je
                    prva iteracija petlje u atributu first, da li je poslednja
                    iteracija petlje u atributu last itd.
                    Pomocu promenljive loop i njenog atributa indeks formira se
                    URL u formatu korisnici/0, pri cemu 0 predstavlja indeks korisnika.
                #}
            </tr>
            {# Svaki iskaz se zatvara odgovarajucom end naredbom. #}
            {% endfor %}
        </tbody>
    </table>
</body>
</html>