<div class="ml-auto text-center">
    <h1>Ulogujte se </h1>
</div>

<div class="text-center font-weight-bold" >
    <div class="w-50 ml-auto mr-auto">
        <form ng-submit="lc.login()"> 
            <div class="form-group">
                    <label for="korisnicko_ime">Username </label>
                    <input type="text" class="form-control" id="korisnicko_ime" placeholder="Username" ng-model="lc.logovanje.korisnicko_ime"
                        required>
            </div>
            <div class="form-group">
                <label for="lozinka">Password </label>
                <input type="password" class="form-control" id="lozinka" placeholder="Password" ng-model="lc.logovanje.lozinka"
                    required>
            </div>
            <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="Login">
            </div>
        </form>
    </div>
</div>