<div class="container">
    <div class="text-right mb-1">
            <a ng-click="kc.logout()" class="btn btn-danger btn-sm"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav">
            <li class="nav-item" ui-sref-active="active"><a class="nav-link" ui-sref="pica({userName: kc.userName})">Pica</a></li>
            <li class="nav-item" ui-sref-active="active"><a class="nav-link" ui-sref="korisnici({userName: kc.userName})">Korisnici</a></li>
        </ul>
    </nav>
</div>

<div>
        <div>
        <h1>Lista korisnika</h1> 
        </div>
        <div class="d-inline-block">
            <a ng-click="dodavanjeKorisnika = !dodavanjeKorisnika" class="btn btn-primary btn-sm"><i class="fas fa-plus"></i>
                Dodavanje novog korisnika</a>
        </div>
        <div class="d-inline-block">
            <a ng-click="pretragaKorisnika = !pretragaKorisnika" class="btn btn-primary btn-sm"><i class="fas fa-search"></i>Pretraga korisnika</a>
        </div>
        <div class="d-inline-block">
            <a ng-click="kc.clear()" class="btn btn-primary btn-sm"> <i class="fas fa-eraser"></i>Prikazi sve korisnike</a>
        </div>
        
</div>
<br>

<div ng-show="dodavanjeKorisnika" class="mb-3">
        <form ng-submit="kc.dodajKorisnika()">
            <div class="form-group">
                <label for="korisnicko_ime">Korisničko ime</label>
                <input type="text" class="form-control" id="username" placeholder="Korisnicko ime" ng-model="kc.noviKorisnik.korisnicko_ime"
                    required>
            </div>
            <div class="form-group">
                <label for="ime">Ime</label>
                <input type="text" class="form-control" id="ime" placeholder="Ime" ng-model="kc.noviKorisnik.ime"
                    required>
            </div>
            <div class="form-group">
                <label for="prezime">Prezime</label>
                <input type="text" class="form-control" id="prezime" placeholder="Prezime" ng-model="kc.noviKorisnik.prezime"
                    required>
            </div>
            <div class="form-group">
                <label for="lozinka">Lozinka</label>
                <input type="password" class="form-control" id="lozinka" placeholder="lozinka" ng-model="kc.noviKorisnik.lozinka"
                    required>
            </div>
            <div class="form-group">
                    <label for="uloga">Prava pristupa</label>
                    <select class="form-control" ng-model="kc.noviKorisnik.uloga" name="uloga" id="uloga" >
                        <option ng-repeat="uloga in kc.uloge" value="{{uloga.id}}">{{uloga.opis}}</option>
                    </select>
            </div>
            <input ng-click="dodavanjeKorisnika = !dodavanjeKorisnika" type="submit" class="btn btn-primary" value="Dodaj">
        </form>
</div>

<div ng-show="pretragaKorisnika" class="mb-3">
        <form ng-submit="kc.dobaviKorisnike()">
            <div class="form-group">
                <label for="korisnicko_ime">Unesite korisnicko ime za pretragu</label>
                <input type="text" class="form-control" id="korisnicko_ime" placeholder="Korisnicko ime" ng-model="kc.parametriPretrage.korisnicko_ime">
            </div>
            <div class="form-group">
                <label for="ime">Unesite ime korisnika za pretragu</label>
                <input type="text" class="form-control" id="imePretraga" placeholder="Ime" ng-model="kc.parametriPretrage.ime">
            </div>
            <div class="form-group">
                    <label for="prezime">Unesite prezime korisnika za pretragu</label>
                    <input type="text" class="form-control" id="prezimePretraga" placeholder="Prezime" ng-model="kc.parametriPretrage.prezime">
            </div>
            <div class="form-group text-right">
                    <input type="submit" class="btn btn-primary" value="Pretraga korisnika">
            </div>
        </form>
</div>

<div>
    <table class="table bg-light">
        <thead>
            <tr>
                <th>R. br.</th>
                <th>Korisnicko ime</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th class="text-right">Akcija</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="korisnik in kc.korisnici">
                <td>{{$index+1}}.</td>
                <td>{{korisnik.korisnicko_ime}}</td>
                <td>{{korisnik.ime}}</td>
                <td>{{korisnik.prezime}}</td>
                <td class="text-right">
                    <button class="btn btn-danger btn-sm" ng-click="kc.ukloniKorisnika(korisnik.korisnicko_ime)"><i class="fas fa-trash-alt"></i>
                        Ukloni</button>
                    <a ui-sref="korisnik({korisnicko_ime: korisnik.korisnicko_ime, userName: kc.userName})" class="btn btn-primary btn-sm"><i class="far fa-eye"></i>
                        Detalji</a>
                </td>
            </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
</div>