<div class="text-right mb-1">
        <a ng-click="sc.logout()" class="btn btn-danger btn-lg"><i class="fas fa-sign-out-alt"></i>Logout</a>
</div>

<div class="container">
    <div class="row">
        <div ng-repeat="porudzbina in sc.porudzbine" class="card ml-5 mb-3" style="width: 18rem;">
            <img class="card-img-top" src="../../../images/sticky_note.jpg" alt="Mala greska :)">
            <div class="card-body">
            <h5 class="card-title">Porudzbina broj: {{porudzbina.id_narudzbine}} </h5>
            <div>
                <ul>
                    <li ng-repeat="stavka in porudzbina.stavke">
                        {{stavka.ime_pica}} <br>
                            kolicina: {{stavka.kolicina}}
                    </li>
                    
                </ul>
                <p class="text-right">Ukupna cena: {{porudzbina.ukupna_cena}} dinara</p>
            </div>
            <div class="text-right">
                <a ng-click="sc.gotovaPorudzbina(porudzbina)" class="btn btn-success mb-2">Gotova porudzina</a>
                <a ng-click="sc.obrisiPorudzbinu(porudzbina.id_narudzbine)" class="btn btn-danger">Obrisi porudzbinu</a>
            </div>
            </div>
        </div>
    </div>
</div>